name = "1127jixiao"
main = "worker.js"
compatibility_date = "2023-10-30"

account_id = "a311111768d400dba6e0198258546c6a"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true

[[d1_databases]]
binding = "DB"
database_name = "1127jixiao"
database_id = "4084c434-8df1-4441-83aa-46fa28fcb314"